Flask
python-dotenv

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-pinecone==0.2.13
langchain-experimental

pinecone
pinecone[grpc]

torch
transformers
huggingface-hub
sentence-transformers

llama-cpp-python